{% extends 'base.html.twig' %}

{% block title %}HomeController!{% endblock %}

{% block body %}


    <div class="m-5">
        {{ render(controller(
            'App\\Controller\\SearchController::searchBar'
        )) }}
    </div>


    <div class="row row-eq-height">
        {% for movie in movies %}
            <div class="col-md-3">
                <div class="card m-5" style="width: 18rem;min-height: 350px">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.original_title }}</h5>
                        <p class="card-text">{{ movie.overview }}</p>

                        <a href="{{ path("movie_post", {'id': movie.id }) }}" class="btn btn-primary">Go
                            somewhere</a>


                        <a href="{{ path('add_favorite', { 'title': movie.title, 'id' : movie.id}) }}"
                           class="btn btn-danger"><i
                                    class="far fa-heart"></i></a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
